main{
    min-height: 100vh;
}
.card-pop
{
    position: relative;

}

.card-pop::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    /* border: 2px solid cornflowerblue; */
    transition: top,bottom,left,right, 0.25s ease-in;
}

.card-pop:hover::before{

    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
}

