<main>


    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="card-deck">
                <!-- <div class="mx-1"> -->
                <div class="col-md">
                    <div class="card shadow text-center card-pop" style="width:20rem;">
                        <a [routerLink]="['/users']" class="bg-secondary p-4 card-hover text-info"> <i
                                class="fas fa-users fa-10x"></i></a>
                        <div class=" bg-light">
                            <h5 class="card-title font-weight-bold text-muted">Manage User</h5>
                        </div>
                    </div>

                </div>
                <div class="col-md">
                    <div class="card shadow text-center card-pop" style="width:20rem;">
                        <a [routerLink]="['/import-data']" class="bg-secondary p-4 card-hover text-info"> <i
                                class="fas  fa-upload fa-10x"></i></a>
                        <div class=" bg-light">
                            <h5 class="card-title font-weight-bold text-muted">Import IPO</h5>
                        </div>
                    </div>

                </div>
                <!-- </div> -->
                <!-- <div class="mx-1"> -->
                <div class="col-md">
                    <div class="card shadow text-center card-pop" style="width:20rem;">
                        <a [routerLink]="['/company']" class="bg-secondary p-4 card-hover text-info"> <i
                                class="fas fa-building fa-10x"></i></a>
                        <div class=" bg-light">
                            <h5 class="card-title font-weight-bold text-muted">Manage Company</h5>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <!-- <div class="mx-1"> -->
                <!-- <div class="col-md">
                    <div class="card shadow text-center card-pop" style="width:20rem;">
                        <a [routerLink]="['/list-ipo']" class="bg-secondary p-4 card-hover text-info"> <i
                                class="fas fa-hand-holding-usd fa-10x"></i></a>
                        <div class=" bg-light">
                            <h5 class="card-title font-weight-bold text-muted">Manage IPO</h5>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="row justify-content-center my-5">
                <div class="card-deck">
                    <!-- <div class="mx-1"> -->
                    <div class="col-md">
                        <div class="card shadow text-center card-pop" style="width:20rem;">
                            <a [routerLink]="['/list-ipo']" class="bg-secondary p-4 card-hover text-info"> <i
                                    class="fas fa-signal fa-10x"></i></a>
                            <div class=" bg-light">
                                <h5 class="card-title font-weight-bold text-muted">Manage IPO</h5>
                            </div>
                        </div>

                    </div>
                    <div class="col-md">
                        <div class="card shadow text-center card-pop" style="width:20rem;">
                            <a [routerLink]="['/list-exchange']" class="bg-secondary p-4 card-hover text-info"> <i
                                    class="fas fa-suitcase fa-10x"></i></a>
                            <div class=" bg-light">
                                <h5 class="card-title font-weight-bold text-muted">Manage Exchanges</h5>
                            </div>
                        </div>

                    </div>
                    <!-- </div> -->
                    <!-- <div class="mx-1"> -->
                    <div class="col-md">
                        <div class="card shadow text-center card-pop" style="width:20rem;">
                            <a [routerLink]="['/list-stock-price']" class="bg-secondary p-4 card-hover text-info"> <i
                                    class="fas fa-id-card fa-10x"></i></a>
                            <div class=" bg-light">
                                <h5 class="card-title font-weight-bold text-muted">Manage StockPrice</h5>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="mx-1"> -->
                    <!-- <div class="col-md">
                        <div class="card shadow text-center card-pop" style="width:20rem;">
                            <a routerLink="view" class="bg-dark p-4 card-hover text-muted"> <i
                                    class="fas fa-hand-holding-usd fa-10x"></i></a>
                            <div class=" bg-light">
                                <h5 class="card-title">Manage I</h5>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

</main>





<!-- <div class="container">
    <div class=" card  text-center">
        <a [routerLink]="['/users']" class="btn btn-light">SHOW USERLIST</a>
        <a [routerLink]="['/sign-up']" class="btn btn-light">ADD USER</a>
        <a [routerLink]="['/import-data']" class="btn btn-light">IMPORT DATA</a>
        <a [routerLink]="['/add-company']" class="btn btn-light">ADD COMPANY</a>
        <a [routerLink]="['/company']" class="btn btn-light">LIST COMPANIES</a>
        <a [routerLink]="['/manageexchange']" class="btn btn-light">ADD EXCHANGE</a>
        <a [routerLink]="['/list-exchange']" class="btn btn-light">LIST EXCHANGE</a>
        <a [routerLink]="['/add-ipo']" class="btn btn-light">ADD IPO</a>
        <a [routerLink]="['/list-ipo']" class="btn btn-light">LIST IPO</a>
        <a [routerLink]="['/add-stock-price']" class="btn btn-light">ADD STOCKPRICE</a>
        <a [routerLink]="['/list-stock-price']" class="btn btn-light">LIST STOCKPRICE</a>

    </div>
</div> -->