<!-- <div class="card w-100 bg-dark">
   <h1 class=" text-center text-light "> LOGIN </h1>

</div>

<div class="card-deck ">
   <div class="card col-2 w-50 my-5 bg-dark"  onclick="location.href='admin-login'">
      <div class="card-body">
       <div class=" text-light text-center">
                <h3 >ADMIN</h3>
               </div>  
            </div>
   </div > 
   <div class="card col-2 w-50 my-5 bg-dark"  onclick="location.href='login'">
       <div class="card-body">
           <div class="text-center text-light">
            <h3 >USER</h3>
           </div>
           
           </div>
           
       </div>
   </div> -->







<div class="row mb-2">
    <div class="col-5 my-5 ">
        <div class="card col-2 w-50">  
           <h1 class=" text-center  bg-dark text-light "> LOGIN </h1>  
        <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='admin-login'">
                <div class=" bg-light text-dark text-center">
                <h3 class="card-title display-5">Admin</h3>
               </div>  
            </div><br>
            <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='login'">
               <div  class=" bg-light text-dark text-center">
               <h3 class="card-title display-5 ">User</h3>
            </div>
             </div>
           </div> 
        
    </div>
    
   </div>    




   <!-- <div class="card-deck p-5">
      <div class="card col-2 w-50 m-5 bg-dark">
          <div class="card-body">
              <h4 class="card-title text-light text-center">BlackLovers</h4> -->
           



