
<main >
   <br><br><br><br><br><br>
   <div class="container-fluid">
     <div class="row">
       <!-- <div class="col-8 px-4 " >
           <h2 class="display-4">Instant access to Stocks, anytime and anywhere</h2>
           <br>
           <p class="display-6">Investing has never been easier. Everything you are looking for in an ultimate investment platform.</p>
       </div> -->
       <div class="col-4">

       </div>
       <div class="w-25 border col-4 bg-light shadow rounded">
         <h4 class="text-center display-4 text-muted">Login</h4>
         <a class="btn btn-dark btn-lg btn-block my-3 " [routerLink]="['/admin-login']">ADMIN</a>
         <a class="btn btn-dark btn-lg btn-block my-3" [routerLink]="['/login']">USER</a>
         
       </div>
     </div>
   </div>

 </main>





<!-- <div class="card w-100 bg-dark">
   <h1 class=" text-center text-light "> LOGIN </h1>

</div>

<div class="card-deck ">
   <div class="card col-1 w-100 my-5 bg-dark"  onclick="location.href='admin-login'">
      <div class="card-body my-card border border-curved text-center">
       <div class=" text-light text-center">
                <h3 class="card-title display-5 ">ADMIN</h3>
               </div>  
            </div>
   </div > 
   <div class="card my-card border border-curved text-center col-1 w-100 my-5 bg-dark"  onclick="location.href='login'">
            <div class=" card-title display-5 text-light text-center ">
           <h3>USER</h3>
           
           </div>
           
       </div>
   </div> -->







<!-- <div class="row mb-2">
   <div class="col-5 my-5 ">
      <div class="card col-2 w-50">
         <h1 class=" text-center  bg-dark text-light "> LOGIN </h1>
         <div class="card my-card border border-curved text-center btn btn-outline-dark"
            onclick="location.href='admin-login'">
            <div class=" bg-light text-dark text-center">
               <h3 class="card-title display-5">Admin</h3>
            </div>
         </div><br>
         <div class="card my-card border border-curved text-center btn btn-outline-dark"
            onclick="location.href='login'">
            <div class=" bg-light text-dark text-center">
               <h3 class="card-title display-5 ">User</h3>
            </div>
         </div>
      </div>

   </div>

</div> -->

