<main>
    <nav class="navbar navbar-expand-md navbar-light">

        <button type="button" class="navbar-toggler mr-auto" data-toggle="collapse" data-target="#navbar2">
            <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbar2">
            <ul class="navbar-nav  text-light ">
                <li class="nav-item font-weight-bold text-dark">
                    <a [routerLink]="['./user-compare-companies']" class="nav-link text-dark "><i class="fa fa-home fa-lg"
                            aria-hidden="true"></i>Compare Companies &nbsp;</a>
                </li>
                <li class="nav-item font-weight-bold text-dark">
                    <a [routerLink]="['./user-compare-sectors']" class="nav-link text-dark"><i class="fa fa-user-plus fa-lg"
                            aria-hidden="true"></i>Compare Sectors &nbsp;</a>
                </li>
                <li class="nav-item font-weight-bold text-dark">
                    <a [routerLink]="['./user-profile']" class="nav-link text-dark "><i class="fa fa-user fa-lg"
                            aria-hidden="true"></i>Profile &nbsp;</a>
                </li>
                <li class="nav-item font-weight-bold text-dark">
                    <a [routerLink]="['home']" class="nav-link text-dark btn border-dark text-dark" (click)="logout()">LogOut</a>
                </li>
            </ul>
        </div>
    </nav>

    <router-outlet></router-outlet>
</main>